table, th,td{
    border: 3px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: rgb(139, 133, 133);
    color: wheat;
}
table{
    width: 50%;
    margin-left: 400px;
}
tr :hover{
    background-color: rgb(164, 168, 227);
    color: rgb(219, 131, 131);
}
